USE [Robot]
GO
/****** Object:  StoredProcedure [dbo].[ins_arbitrajhareket]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ins_arbitrajhareket]
	@Id bigint null,
	@RobotAdi varchar(50),
	@HisseAdi varchar(50),
	@ViopSatisFiyati decimal(18,2),
	@ViopAlisFiyati decimal(18,2),
	@ViopLot int,
	@BistSatisFiyati decimal(18,2),
	@BistAlisFiyati decimal(18,2),
	@BistLot int
	
as
begin


if(@Id = 0)
begin

INSERT INTO [dbo].[ArbitrajHareket]
           ([RobotAdi]
           ,[HisseAdi]
           ,[ViopSatisFiyati]
           ,[ViopAlisFiyati]
           ,[ViopLot]
           ,[BistSatisFiyati]
           ,[BistAlisFiyati]
           ,[BistLot]
           ,[Kar]
           ,[PozisyonTarihi]
           ,[KapanisTarihi]
           ,[AktifMi])
     VALUES
           (@RobotAdi
           ,@HisseAdi
           ,@ViopSatisFiyati
           ,@ViopAlisFiyati
           ,@ViopLot
           ,@BistSatisFiyati
           ,@BistAlisFiyati
           ,@BistLot
           ,null
           ,getdate()
           ,null
           ,1)

end
else
begin

declare @kar decimal
set @kar = (@ViopSatisFiyati - @BistAlisFiyati) * @BistLot

UPDATE [dbo].[ArbitrajHareket]
   SET [RobotAdi] =@RobotAdi
      ,[HisseAdi] =@HisseAdi
      ,[ViopSatisFiyati] =@ViopSatisFiyati
      ,[ViopAlisFiyati] =@ViopAlisFiyati
      ,[ViopLot] =@ViopLot
      ,[BistSatisFiyati] =@BistSatisFiyati
      ,[BistAlisFiyati] =@BistAlisFiyati
      ,[BistLot] =@BistLot
      ,[Kar] =@Kar
      ,[KapanisTarihi] =getdate()
      ,[AktifMi] =0
 WHERE Id = @Id

end

end
GO
/****** Object:  StoredProcedure [dbo].[ins_arsiv]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ins_arsiv]
as

insert into [dbo].[HisseHareketOcak24](RobotAdi,HisseAdi,Lot,AlisFiyati,SatisFiyati,AktifMi,Kar,AlisTarihi,SatisTarihi,Tarih)
select RobotAdi,HisseAdi,Lot,AlisFiyati,SatisFiyati,AktifMi,Kar,AlisTarihi,SatisTarihi,Tarih
from [dbo].[HisseHareket] where AktifMi=0

delete [dbo].[HisseHareket] where AktifMi=0
GO
/****** Object:  StoredProcedure [dbo].[ins_hisse]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ins_hisse]
@HisseAdi varchar(50)
,@IlkFiyat decimal(18,2)
,@Butce decimal(18,2)
,@BaslangicKademe decimal(18,2)
,@AlimTutari decimal(18,2)
,@SonAlimTutari decimal(18,2)
,@PortfoyTarihi smalldatetime
,@SonIslemTarihi smalldatetime
,@Aktif bit
as
begin 

if not exists (select 1 from [dbo].[Hisse] where HisseAdi = @HisseAdi)
begin
INSERT INTO [dbo].[Hisse]
           ([HisseAdi]
           ,[IlkFiyat]
           ,[Butce]
           ,[BaslangicKademe]
           ,[AlimTutari]
           ,[SonAlimTutari]
           ,[PortfoyTarihi]
           ,[SonIslemTarihi]
           ,[Aktif])
     VALUES
           (@HisseAdi
           ,@IlkFiyat
           ,@Butce
           ,@BaslangicKademe
           ,@AlimTutari
           ,@SonAlimTutari
           ,@PortfoyTarihi
           ,@SonIslemTarihi
           ,@Aktif)

end
else
begin
	update [dbo].[Hisse] 
	set IlkFiyat = @IlkFiyat,
	Butce=@Butce,
	BaslangicKademe= @BaslangicKademe,
	AlimTutari = @AlimTutari,
	SonAlimTutari = @SonAlimTutari,
	PortfoyTarihi = @PortfoyTarihi,
	SonIslemTarihi = @SonIslemTarihi,
	Aktif = @Aktif
	where HisseAdi = @HisseAdi
end



end
GO
/****** Object:  StoredProcedure [dbo].[ins_hissehareket]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ins_hissehareket]
	@Id bigint null,
	@HisseAdi varchar(50),
	@Lot int,
	@AlisFiyati decimal(18,2),
	@SatisFiyati decimal(18,2),
	@RobotAdi varchar(50)
as
begin 

declare @islemTarihi smalldatetime = getdate()
declare @tarih date =  Cast (GETDATE() AS Date)

select getdate()

if(@Id = 0)
begin
INSERT INTO [dbo].[HisseHareket]
           ([HisseAdi]
		   ,[RobotAdi]
		   ,[Lot]
           ,[AlisFiyati]
		   ,AktifMi
           ,[AlisTarihi]
           ,[Tarih]
		   )
     VALUES
           (@HisseAdi,
			@RobotAdi,
			@Lot,
			@AlisFiyati,
			1,
			getdate(),
			@tarih
			)
end
else
begin
update [dbo].[HisseHareket] set SatisFiyati = @SatisFiyati, AktifMi = 0, [Kar] = Lot*(@SatisFiyati - Alisfiyati)
           ,[SatisTarihi] = getdate()
where Id = @Id
end

end
GO
/****** Object:  StoredProcedure [dbo].[ins_RiskDetay]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[ins_RiskDetay]
	@HisseAdi varchar(50),
	@Data varchar(1000)
as
begin 


INSERT INTO [dbo].[RiskDetay]
           ([HisseAdi]
		   ,[Data]
           ,[Tarih]
		   )
     VALUES
           (@HisseAdi,
			@Data,
			getdate()
			)


end
GO
/****** Object:  StoredProcedure [dbo].[ins_sabahcoskusuhareket]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ins_sabahcoskusuhareket]
	@Id bigint null,
	@HisseAdi varchar(50),
	@Lot int,
	@AlisFiyati decimal(18,2),
	@RobotAdi varchar(50)
as
begin 

declare @islemTarihi smalldatetime = getdate()
declare @tarih date =  Cast (GETDATE() AS Date)


INSERT INTO [dbo].[SabahCoskusuHareket]
           ([HisseAdi]
		   ,[RobotAdi]
		   ,[Lot]
           ,[AlisFiyati]
		   ,AktifMi
           ,[AlisTarihi]
           ,[Tarih]
		   )
     VALUES
           (@HisseAdi,
			@RobotAdi,
			@Lot,
			@AlisFiyati,
			1,
			getdate(),
			@tarih
			)
end


GO
/****** Object:  StoredProcedure [dbo].[sel_arbitraj]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[sel_arbitraj] 
as
begin 


select * from Arbitraj with(nolock) 
where AktifMi = 1

end

GO
/****** Object:  StoredProcedure [dbo].[sel_arbitrajkontrol]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[sel_arbitrajkontrol] 
	@HisseAdi varchar(50)
as
begin 


select * from ArbitrajHareket with(nolock) 
where HisseAdi=@HisseAdi
and AktifMi = 1

end

GO
/****** Object:  StoredProcedure [dbo].[sel_hisseAlimKontrol]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 'AKBNK',36.50, 0.1769
CREATE proc [dbo].[sel_hisseAlimKontrol] 
	@HisseAdi varchar(50),
	@AlisFiyati decimal(18,2),
	@Marj decimal(18,2)
as
begin 


select * from HisseHareket with(nolock) 
where HisseAdi=@HisseAdi
and AktifMi = 1
and (AlisFiyati<=@AlisFiyati + @Marj  and AlisFiyati >= @AlisFiyati - @Marj)
end
/*
select * from HisseHareket with(nolock) 
where HisseAdi='AKBNK'
and AktifMi = 1
and (AlisFiyati = 35.38-0.12 or AlisFiyati=35.38 + 0.12)
*/
GO
/****** Object:  StoredProcedure [dbo].[sel_hisseAlimKontrolHepsi]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sel_hisseAlimKontrolHepsi]
	@HisseAdi varchar(50),
	@Fiyat decimal(18,2),
	@Marj decimal(18,2)
as
begin 


declare @Id bigint, @alisFiyati decimal(18,2)
declare @rtn bit

DECLARE database_cursor CURSOR FOR 
select Id, AlisFiyati from HisseHareket with(nolock) 
where HisseAdi=@HisseAdi
and AktifMi = 1

OPEN database_cursor 

FETCH NEXT FROM database_cursor INTO @Id, @alisFiyati

WHILE @@FETCH_STATUS = 0 
BEGIN 

   
    if(@fiyat = @alisFiyati + (@marj * @alisFiyati))
	begin
		SET @rtn =  0
	end
	else
	begin
		SET @rtn = 1
		break
	end

    FETCH NEXT FROM database_cursor INTO @Id, @alisFiyati
END 

CLOSE database_cursor 
DEALLOCATE database_cursor

select @rtn

end


GO
/****** Object:  StoredProcedure [dbo].[sel_hisseHareket]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sel_hisseHareket] 
	@HisseAdi varchar(50)
as
begin 


select HisseAdi, sum(Lot*AlisFiyati) ToplamAlisFiyati,
sum(Lot*SatisFiyati) ToplamSatisFiyati,
sum(CAST(AktifMi AS INT)) AcikPozisyonSayisi,
sum(Lot*AlisFiyati * CAST(AktifMi AS INT)) AcikPozisyonAlimTutari,
sum(Kar) ToplamKar
from HisseHareket with(nolock) 
where HisseAdi=@HisseAdi

group by HisseAdi

end
GO
/****** Object:  StoredProcedure [dbo].[sel_hisseSatimKontrol]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sel_hisseSatimKontrol]
	@HisseAdi varchar(50),
	@SatisFiyati decimal(18,2),
	@Marj decimal(18,2)
as
begin 


select * from HisseHareket with(nolock) 
where HisseAdi=@HisseAdi
and AktifMi = 1
and AlisFiyati +  @Marj <= @SatisFiyati

end
GO
/****** Object:  StoredProcedure [dbo].[sel_portfoy]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sel_portfoy]
	@hisseAdi varchar(20)=null
as


select a.HisseAdi,a.kar,a.aktiflot,a.piyasasatis,
a.toplamHarcanan /a.totallot as maliyet,
(a.aktiflot * a.piyasaalis) portfoy,
(a.piyasasatis - ((a.aktifHarcanan - a.kar)/a.aktiflot)) * a.aktiflot as [kar-zarar]
from(

SELECT
v.[HisseAdi],
sum(kar) kar,
sum(Lot*aktifMi) aktiflot,
avg(h.PiyasaSatis) piyasasatis,
avg(h.PiyasaAlis) PiyasaAlis,
sum(AlisFiyati * Lot) toplamHarcanan,
sum(Lot) totallot,
sum(AlisFiyati * Lot * aktifMi) aktifHarcanan

  FROM [Robot].[dbo].[vHisseHareket] v inner join [Robot].[dbo].[Hisse] h
  on v.HisseAdi = h.HisseAdi
  where (@hisseAdi is null or v.HisseAdi=@hisseAdi)
  group by v.[HisseAdi]
  having sum(Lot*aktifMi)>0

) as a

order by [kar-zarar]

 --select * from [Robot].[dbo].[Hisse] h
 -- where  h.HisseAdi = @hisseAdi

 --  select * from [Robot].[dbo].[HisseHareket] h
 -- where  h.HisseAdi =@hisseAdi and AktifMi=1
 -- order by AlisFiyati asc
GO
/****** Object:  StoredProcedure [dbo].[sel_portfoy_cikanlar]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec sel_portfoy_cikanlar @hisseAdi = null
create proc [dbo].[sel_portfoy_cikanlar]
	@hisseAdi varchar(20)=null
as

--declare @hisseAdi varchar(20)
--set @hisseAdi = 'ISCTR'

select a.HisseAdi,a.kar,a.aktiflot,a.piyasasatis,
0 as maliyet,
(a.aktiflot * a.piyasaalis) portfoy,
0 as [kar-zarar]
from(

SELECT
v.[HisseAdi],
sum(kar) kar,
sum(Lot * aktifMi) aktiflot,
avg(h.PiyasaSatis) piyasasatis,
avg(h.PiyasaAlis) PiyasaAlis,
sum(AlisFiyati * Lot * aktifMi) toplamHarcanan

  FROM [Robot].[dbo].[vHisseHareket] v inner join [Robot].[dbo].[Hisse] h
  on v.HisseAdi = h.HisseAdi
  where (@hisseAdi is null or v.HisseAdi=@hisseAdi)
  and aktifmi=0
  and not exists(select 1 from [Robot].[dbo].[vHisseHareket] where HisseAdi= h.HisseAdi and aktifMi=1 )
  group by v.[HisseAdi]

) as a

order by kar desc

--select * from  [Robot].[dbo].[vHisseHareket] where HisseAdi = 'ISCTR'
GO
/****** Object:  StoredProcedure [dbo].[sel_sabahcoskusu]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sel_sabahcoskusu] 

as
begin 


select HisseAdi,IlkFiyat,Butce,BaslangicKademe,AlimTutari,SonAlimTutari,PortfoyTarihi,SonIslemTarihi,MarjTipi,Marj,Aktif from Hisse
where HisseAdi <> 'Default' and AlisAktif = 1
union all
select HisseAdi,
(select IlkFiyat from Hisse where HisseAdi = 'Default') IlkFiyat,
(select Butce from Hisse where HisseAdi = 'Default') Butce,
(select BaslangicKademe from Hisse where HisseAdi = 'Default') BaslangicKademe,
(select AlimTutari from Hisse where HisseAdi = 'Default') AlimTutari,
(select SonAlimTutari from Hisse where HisseAdi = 'Default') SonAlimTutari,
(select PortfoyTarihi from Hisse where HisseAdi = 'Default') PortfoyTarihi,
(select SonIslemTarihi from Hisse where HisseAdi = 'Default') SonIslemTarihi,
(select MarjTipi from Hisse where HisseAdi = 'Default') MarjTipi,
(select Marj from Hisse where HisseAdi = 'Default') Marj,
(select Aktif from Hisse where HisseAdi = 'Default') Aktif
from HisseHareket with(nolock)
where AktifMi = 1
and HisseAdi not in( select HisseAdi from Hisse)
group by HisseAdi

end
GO
/****** Object:  StoredProcedure [dbo].[sel_sabahcoskusukontrol]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[sel_sabahcoskusukontrol] 
	@HisseAdi varchar(50)
as
begin 

declare @tarih date =  Cast (GETDATE() AS Date)

select * from SabahCoskusuHareket with(nolock) 
where HisseAdi=@HisseAdi
and AktifMi = 1
and Tarih = @tarih
end

GO
/****** Object:  StoredProcedure [dbo].[sel_strateji]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sel_strateji] 

as
begin 


SELECT [Id]
      ,[HisseAdi]
      ,[ViopLot]
      ,[BistLot]
      ,[Marj]
      ,[Aktif]
  FROM [dbo].[Arbitraj] where [Aktif] = 1


end
GO
/****** Object:  StoredProcedure [dbo].[upd_hisse]    Script Date: 10/13/2025 12:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[upd_hisse]
	@Id bigint null,
	@PiyasaAlis decimal(18,2),
	@PiyasaSatis decimal(18,2)
as
begin 

update [dbo].[Hisse] set PiyasaAlis = @PiyasaAlis, PiyasaSatis=@PiyasaSatis
where Id = @Id


end
GO
